footer.grid.footer
  container
    div.footer__horaires 
      h3.footer__title Horaires 
      span.footer__line 
      div.footer__heures
        p.footer__text Service du mardi au dimanche 
        p.footer__text 12h - 14h / 18h - 1h
      div.footer__heures
        p.footer__text Samedo 
        p.footer__text 12h - 14h / 18h - 2h

    div.footer__location
      h3.footer__title Adresse 
      span.footer__line
      adress.footer_adresse
        p 2 Grande Rue 
        p 90000 Belfort

    div.footer__social  
      h3.footer__title Suivez-nous
      span.footer__line 
      ul.footer__list.listUnstyled 
        li 
          a(href="https://facebook.com", aria-label="Notre page Facebook")
            inlcude ../../../assets/img/svg/icon-facebook.svg
        li 
          a(href="https://facebook.com", aria-label="Notre page Instagram")
            inlcude ../../../assets/img/svg/icon-instagram.svg

    div.footer__contact
      h3.footer__title Contact 
      span.footer__line 
      div.footer__contactInfos 
        img.footer__miniLogo(src="../../../assets/img/svg/icon-telephone.svg", alt="Icon téléphone")
        p.footer__text 03 84 27 99 65
      div.footer__contactInfos
        img.footer__miniLogo(src="../../../assets/img/svg/icon-email.svg", alt="Icon Email")
        p.footer__text contact@coquetelbar.fr
  
  div.footer__bottom
    ul.listUnstyled 
      li 
        a.(href="#") @CoquetelBar
      li 
        a.(href="#") Mentions Légales
  