header.header
  nav.header__navbar.navbar 
    ul.navbar__list
      li.navbar__item
        a.navbar__link(href="#") Coqutel Bar
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item
        a.navbar__link(href="#") Boissons
      li.navbar__item
        a.navbar__link(href="#") Évènements
      li.navbar__item
        a.navbar__link(href="#") Réservation
      li.navbar__item
        a.navbar__link(href="#") Contact 

  div.header__slogan
    img.header__slogan__logo(src="../../images/headerBackground/background.png", alt="Devanture Bar")
    span.header__solgan__middleLine 
    div.header__slogan__underLogo 
      p.slogan__underLogo.text
      p.slogan__underLogo.text
      p.slogan__underLogo.text
      h2.slogan__underLogo.title 

  item.header__arrowDown


  

